extends layout

block content

  if (message != '')
    .alert.alert-danger #{message}

  .container
    .row
      img.img-responsive(src='/images/BSPOKER.png')
    .row.text-center#createGame
      .btn.btn-info(type='button' data-toggle='modal' data-target='#createGameModal') Create a game
    .row.text-center#joinGame
      .btn.btn-info(type='button' data-toggle='modal' data-target='#joinGameModal') Join a game

  .modal.fade#createGameModal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Create a game
        .modal-body
          form(method='POST' action='/games' onSubmit='return checkRoomName()')
            .form-group
              label(for='room_name') Room Name
              input.form-control#room_name(type='text' name='room_name')
            .form-group
              label(for='password') Password (optional)
              input.form-control#password(type='password' name='password')
            input.btn.btn-info(type='submit' value='Create Game')

  .modal.fade#joinGameModal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Join a game
        .modal-body
          table.table.table-hover.table-condensed
            tr
              th Room ID
              th Room Name
              th Join
            each game in openGames
              tr
                td= game.gameid
                td= game.room_name
                td
                  if game.password == ''
                    form(method='POST' action='/games/join')
                      input(type='hidden' name='gameid' value=game.gameid)
                      input.btn.btn-info(type='submit' value='Join')
                  else
                    form(method='POST' action='/games/join')
                      .input-group
                        input(type='hidden' name='gameid' value=game.gameid)
                        input.form-control(type='text' name='joinPassword' placeholder='Password' autocomplete='off')
                        span.input-group-btn
                          input.btn.btn-info(type='submit' value='Join')

  script(src='/javascripts/home.js')